Package: com.aehmlo.redirector
Name: Redirector
Depends: mobilesubstrate, ws.hbang.common
Version: 0.0.2
Architecture: iphoneos-arm
Description: Stock Calendar app => Fantastical.
Maintainer: Aehmlo Lxaitn
Author: Aehmlo Lxaitn
Section: Tweaks
