Package: com.aehmlo.redirector
Name: Redirector
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Stock Calendar app => Fantastical.
Maintainer: Aehmlo Lxaitn
Author: Aehmlo Lxaitn
Section: Tweaks
